.intro-container {
  max-width: 100%;
  height: 95vh;
  margin: 0 auto;
  background: linear-gradient(
                     rgba(20,20,20, 0.6), 
                     rgba(20,20,20, 0.6)),
                     url('../Asset2.png');
  background-repeat: no-repeat;
  background-position: center;
}

.navbar-desktop {
  max-width: inherit;
  display: flex;
  justify-content: flex-end;
}

.navbar-desktop a {
  padding: 20px;
  min-width: 80px;
}

.navbar-desktop .change-lang {
  padding: 20px;
  min-width: 80px;
  cursor: pointer;
}

.navbar-mobile {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.navbar-mobile i {
  font-size: 40px;
  padding: 15px;
  cursor: pointer;
}

.navbar-mobile-content {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.navbar-mobile-content a {
  padding: 15px;
}

.navbar-mobile-content div {
  padding: 15px;
}

.change-lang:hover {
  color: #60c7b9;
  cursor: pointer;
}

.intro {
  display: flex;
  align-items: flex-end;
  height: 70vh;
  padding: 15px;
}

.intro-name {
  color: #60c7b9;
  font-weight: 700;
}

.intro-text {
  margin-left: 20%;
}

.socials div {
  width: 25px;
  text-align: center;
  margin: 20px;
  font-size: 25px;
}

.codewars-img {
  height: 25px;
  width: 25px;
  filter: invert(1);
}

.codewars-img:hover {
  filter: invert(0.7);
}

.smallFa {
  font-size: 0.85em;
}

.header {
  font-size: 28px;
}

.header span {
  font-size: 60px;
}

.intro-content {
  max-width: 500px;
}

.portrait img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.portrait {
  width: 130px;
  height: 130px;
}
